src/.env
FlagEmbedding/
ai_doc.docx
chunks/
*__pycache__
bge_result.txt
xlm_result.txt
labse_result.txt
databases/
test_encoder_only_m3_bge-m3_sd
RAG-Retrieval-Benchmark-Azerbaijani
finetuned_bge_m3_v*